@charset "UTF-8";
a:link {
	font-family: Tahoma, Arial;
	color: #00619c;
}
a:hover {
	font-family: Tahoma, Arial;
	color: #00619c;
	text-decoration: underline;
}
a:active {
	font-family: Tahoma, Arial;
	color: #00619c;
}
a:visited {
	font-family: Tahoma, Arial;
	color: #00619c;
}
#header-bg {
	background-color: #1E1919;
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../images/header-bg.jpg);
}
#container {
	width: 801px;
	margin-right: auto;
	margin-left: auto;
}
#head {
	background-image: url(../images/header.jpg);
	height: 244px;
	width: 801px;
}
#bg {
	background-image: url(../images/bg.jpg);
	width: 801px;
}

#salesletter {
	padding-right: 75px;
	padding-left: 75px;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow: hidden;
	margin: 0px;
}
#footer {
	height: 160px;
	width: 801px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../images/footer.jpg);
}


#footer-bottom {
	height: 160px;
	width: 100%;
	background-image: url(../images/footer-bg.jpg);
}
#line1 {
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	width: 580px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ECF5FD;
	padding-right: 15px;
	padding-left: 15px;
}
#line2 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
#testimonial {
	margin-right: auto;
	margin-left: auto;
	width: 420px;
	padding-right: 35px;
	padding-left: 35px;
	background-color: #D7ECFB;
	border: 2px dashed #0A466E;
}

#headline-tag {
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-left: 46px;
}
#subheadline-tag {
	margin-right: auto;
	margin-left: auto;
	padding-top: 47px;
	padding-left: 40px;
}
#subheadline-tag2 {
	margin-right: auto;
	margin-left: auto;
	padding-top: 24px;
}


/* CSS Document */

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#464646;
	line-height: 21px;
}

.p-red {
	font-family: Tahoma, Arial;
	font-size: 14px;
	color: #680116;
}
.p-small {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #464646;
}
.headline-black {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	line-height: 33px;
	color: #000A12;
	letter-spacing: -1px;
}

.headline-red {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	line-height: 33px;
	color: #910003;
	letter-spacing: -1px;
}
.headline-blue {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	line-height: 33px;
	color: #0A3C5C;
	letter-spacing: -1px;
}
.headline-tag-orange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #FFA611;
}
.headline-tag-orange2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #FFA611;
}


.subheadline {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #333333;
}
.subheadline-red {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #910003;
}
.subheadline-blue {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #0A3C5C;
}
.subheadline-white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #FFFFFF;
}
.subheadline-white2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

a.footerlinks:link {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color:#464646;
}

a.footerlinks:visited{
	font-family: Tahoma, Arial;
	font-size: 11px;
	color:#464646;
}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#990000;
	line-height:30px;
	letter-spacing: -1pt;
}
p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#1f1f1f;
	line-height:21px;

	
}
.testimonialcontainer {
	width: 548px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
}
.testimonialheader {
	background-image: url(../images/testimonial-header.jpg);
	height: 42px;
	width: 548px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: hidden;
}

#testimonial {
	margin-right: auto;
	margin-left: auto;
	width: 420px;
	padding-right: 35px;
	padding-left: 35px;
	background-color: #D7ECFB;
	border: 2px dashed #0A466E;
}
.testimonialrepeat {
	background-image: url(../images/testimonialrepeat.gif);
	background-repeat: repeat-y;
	width: 500px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	padding-right: 24px;
	padding-left: 24px;
}
.testimonialfooter {
	background-image: url(../images/testimonialfooter.gif);
	height: 20px;
	width: 548px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
.standardtype1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-right: 0px;
	margin-left: 0px;
}
.standardtype2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 0px;
}
#point1 {
	background-image: url(images/star.jpg);
	float: left;
	height:25px;
	width:25px;
	margin-right: 15px;
	margin-left: 50px;
	#notify{
	margin:15px 25px;
	padding:0 15px 5px 15px;
	background:#efefef;
	border:1px solid #ccc;
}

#notify{
	margin:15px 25px;
	padding:0 15px 5px 15px;
	background:#efefef;
	border:1px solid #ccc;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#464646;
	line-height: 21px;
}

.p-red {
	font-family: Tahoma, Arial;
	font-size: 14px;
	color: #680116;
}
.p-small {
	font-family: Tahoma, Arial;
	font-size: 11px;
	color: #464646;
}