<div class="presentation">
	<div class="float-left half padding-right padding-top">
		<img class="responsive-image" src="{{site.urlimg}}thumb/{{page.product_image}}" alt="{{page.product_name}}">
	</div>
	<div class="float-left half padding-top">
		<h4 class="no-margin">{{page.product_title}}</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="{{site.url}}/pages/{{page.product_name}}/">READ MORE</a></p>

		<p class="center">Retail: <span class="line-trough">{{page.product_retail}}</span>, 
		<strong class="x2 red">Today's Price: {{page.product_price}}</strong></p>
		<a class="order-button" href="{{page.product_gumroad}}">ADD TO CART</a>
	</div>
	<div class="clearfix"></div>
</div>