@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);

* {
	margin:0;
	padding:0;
}

body{
	margin:0;
		color: #00353c;
	font-family:Arial, Helvetica, sans-serif;
	background: url(../images/topbg.jpg) repeat-x top center, #0b5057 ; 
}

/* Formatting */

body, img, p, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote {
	margin: 0;
	padding: 0;
}

p {
	line-height: 20px;
	padding: 10px 0;
	font-weight: 300;
	font-size: 14px;

}

h1, h2, h3, h4, h5 {
	padding: 8px 0;
	color: #b9201f;
}

ul, ol {
	padding: 10px 0;
}

small {
	font-size: 11px;
}

code {
	background: #FFFFC1;
}

a {
	color: #0000FF;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

blockquote p {
	padding: 5px 0;
}

/* Container */

#container{
	margin:0 auto;
	padding:0;
	width:1150px;
	text-align:left;
}

#header{
	margin:0;
	padding:0;
	height:386px;
	width: 1150px;
	background:url(../images/header.jpg) repeat-x center;
}

#copycontainer{
	width: 1150px;
    padding-left:0px;
	text-align:left;
	line-height:20px;
	background: url(../images/contentbg.jpg) repeat-y top center, transparent;
	
}

#copy {
	padding-left:220px;
	padding-right:220px;
}

#copy h1{
	font-size:40px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	text-align:center;
	line-height:110%;
	font-weight:800;
	color: #f17403;
	
}

#copy h2{
	font-size:25px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	line-height:35px;
	font-weight:400;
	color:#323231;
}


/* Footer Info */

#footer2{
	background: url(../images/footerbg.jpg) repeat-x bottom center;
	height:192px;
	width: 100%;
}

#footer{
	width: 1150px;
	height:192px;
	margin:0 auto;
	background: url(../images/footer.jpg) no-repeat;
}

#info{
	width:100%;
	margin: auto;
	padding:0;
	text-align:center;
	color:#dedede;
	font-weight: 200;
	font-size:11px;
	margin-bottom: 20px;
	padding-top:40px;

}

#info a{
	font-size:14px;
	color:#a9a9a9;
	font-size:11px;
}

/* TESTIMONIALS */

.box {
margin: auto;
width:500px;
margin-bottom:50px;
margin-top:30px;
}

.photobox {

}

.photo {
border: 1px solid #d4d4d4;
margin-bottom:20px;
margin-right:20px;
}

.testiheader{
height:20px;
background-color:#f37a03;
font-size: 17px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
padding: 7px 10px;
color: #ffffff;
border-bottom: 3px solid #2d6b63;
text-shadow:1px 1px 1px #000;

}

.clear {
clear:both;
}

.testimonial {

margin:auto;
padding: 10px 20px 20px;
background-color: #3e897f; /*Change colour here and in .arrow-down*/
font-size: 13px;
font-family:Arial, Helvetica, sans-serif;
color: #ffffff;
text-shadow: 1px 1px 0 #000;
/*Uncomment to add round corners*/
/* -moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px; */
}
/*Author section wrapper*/
.author-wrapper {
width: 100%;
margin-bottom: 20px;

}
/*This creates the arrow with no need for an image, thanks to css-tricks.com*/
.arrow {
float: left;
margin-left: 25px;
width: 0;
height: 0;
border-top: 30px solid #3e897f; /*Change colour here to match .testimonial*/
border-left: 30px solid transparent;
border-right: 0px solid transparent; /*Make this 30px to create a triangle*/
}
/*Author Name*/
.testimonial-name {
float: left;
margin: 0 8px;
color: #f37a03;
padding-top: 5px;
font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
/*Author Job Title*/

.testimonial-name span {
color: #53646d;
font-weight: normal;
}