body {
	font-family: Verdana;
	font-size:12px;
	background-image: url(images/bg_tile.gif);
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	color: #172556;
}
a:visited {
	color: #172556;
}
a:hover {
	color: #EB9700;
}
a:active {
	color: #172556;
}
td {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 12px;
	color: #000000;
}

th {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 12px;
	color: #000000;
}
.a {
	color: #FFFFFF;
}
.title_text {
	font-family: Tahoma, Verdana, Arial;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
.main_text {
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
}
.text1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 0px;
}
.text2 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	margin: 0px;
}
.text3 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin: 0px;
}
.title_text {
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.left {
	background-image: url(images/left.gif);
	background-repeat: repeat-y;
}
.right {
	background-image: url(images/right.gif);
	background-repeat: repeat-y;
}
.text {
	font-family: Tahoma, Verdana, Arial;
	font-size: 10px;
}
.style12 {	font-size: 24pt;
	font-weight: bold;
	color: #CC0000;
}
.style20 {	font-size: 14pt;
	font-weight: bold;
}