body {
	font-family: Tahoma;
	font-size:16px;
	background-color: #FAFFC5;
	background-image: url(images/bg_tile.gif);
	margin-top:0px;
}
a:link {
	color: #333333;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #CCCCCC;
}
a:active {
	color: #333333;
}
.a {
	color: #333333;
}
